.header {
  width: 100%;
  padding: 24px 140px;
  background-color: rgb(10, 5, 90);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 48px;

  &-title__link {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &-user {
    position: relative;

    &__button {
      border: none;
      cursor: pointer;
      gap: 12px;
      background-color: inherit;
      display: flex;
      align-items: center;
    }

    &__name {
      color: rgb(230, 230, 230);
      font-size: 18px;
    }

    &__icon {
      width: 44px;
      height: 44px;

      > * {
        font-size: 16px;
        color: rgb(230, 230, 230);
        border-color: rgb(230, 230, 230);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 24px 114px;
  }
}

@media screen and (max-width: 820px) {
  .header {
    &-user__name {
      display: none;
    }
  }
}

@media screen and (max-width: 820px) {
  .header {
    padding: 24px 20px;
  }
}
