.page-title {
  background: linear-gradient(274deg, #c0f 0%, #5756ff 35.29%, #07fdfd 100%);
  background-clip: text;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  text-align: center;
}

@media screen and (max-width: 820px) {
  .page-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 820px) {
  .page-title {
    display: none;
  }
}
